Web/Web References/localhost/Service1.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="Calculate">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="calculateModel" type="tns:CalculateModel" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="CalculateModel">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="CalculateError" type="s:double" />
          <s:element minOccurs="0" maxOccurs="1" name="Items" type="tns:ArrayOfItem" />
          <s:element minOccurs="0" maxOccurs="1" name="Knapsacks" type="tns:ArrayOfKnapsack" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="ArrayOfItem">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="Item" nillable="true" type="tns:Item" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="Item">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="Id" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="Weight" type="s:double" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="ArrayOfKnapsack">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="Knapsack" nillable="true" type="tns:Knapsack" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="Knapsack">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="Id" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="Capacity" type="s:double" />
          <s:element minOccurs="0" maxOccurs="1" name="Items" type="tns:ArrayOfItem" />
        </s:sequence>
      </s:complexType>
      <s:element name="CalculateResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="CalculateResult" type="tns:Result" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="Result">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="Optimal" type="tns:Variation" />
          <s:element minOccurs="0" maxOccurs="1" name="Acceptables" type="tns:ArrayOfVariation" />
          <s:element minOccurs="1" maxOccurs="1" name="RunTime" type="s:double" />
          <s:element minOccurs="1" maxOccurs="1" name="ItemsCount" type="s:int" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="Variation">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="Knapsacks" type="tns:ArrayOfKnapsack" />
          <s:element minOccurs="1" maxOccurs="1" name="G" type="s:double" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="ArrayOfVariation">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="Variation" nillable="true" type="tns:Variation" />
        </s:sequence>
      </s:complexType>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="CalculateSoapIn">
    <wsdl:part name="parameters" element="tns:Calculate" />
  </wsdl:message>
  <wsdl:message name="CalculateSoapOut">
    <wsdl:part name="parameters" element="tns:CalculateResponse" />
  </wsdl:message>
  <wsdl:portType name="Service1Soap">
    <wsdl:operation name="Calculate">
      <wsdl:input message="tns:CalculateSoapIn" />
      <wsdl:output message="tns:CalculateSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="Service1Soap" type="tns:Service1Soap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="Calculate">
      <soap:operation soapAction="http://tempuri.org/Calculate" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="Service1Soap12" type="tns:Service1Soap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="Calculate">
      <soap12:operation soapAction="http://tempuri.org/Calculate" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="Service1">
    <wsdl:port name="Service1Soap" binding="tns:Service1Soap">
      <soap:address location="http://localhost:57988/Service1.asmx" />
    </wsdl:port>
    <wsdl:port name="Service1Soap12" binding="tns:Service1Soap12">
      <soap12:address location="http://localhost:57988/Service1.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>